{% extends "account/base_entrance.html" %}
{% load i18n allauth account %}
{% block head_title %}
{% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
    <div class="login-wrapper">
        <div class="loginbox">
            <div class="img-logo">
                <img src="/static/img/logo.svg" class="img-fluid" alt="Logo">
                <div class="back-home">
                    <a href="/">Back to Home</a>
                </div>
            </div>
            {% element h1 %}
            {% trans "Password Reset" %}
            {% endelement %}
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p class="reset-password">
                {% trans "Enter your email to reset your password" %}
            </p>
            {% url 'account_reset_password' as reset_url %}
            {% element form form=form method="post" action=reset_url %}
            {% slot body %}
            {% csrf_token %}
            {% element fields form=form %}
            {% endelement %}
            {% endslot %}
            {% slot actions %}
            {% element button type="submit" %}
            {% trans 'Reset My Password' %}
            {% endelement %}
            {% endslot %}
            {% endelement %}
            <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>
    </div>
{% endblock content %}