{% extends 'core/base.html' %}
{% block content %}
    <div class="page-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h1 class="mb-0">{{ title }}</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="help-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="faq-card">
                        <h6 class="faq-title">
                            <a class="collapsed" data-bs-toggle="collapse" href="#faqone" aria-expanded="false">How can I sign up for EduConnect?</a>
                        </h6>
                        <div id="faqone" class="collapse">
                            <div class="faq-detail">
                                <p>Signing up for EduConnect is easy! Visit our homepage and click on the "Sign Up" button. Follow the on-screen instructions to create your account and start connecting with tutors.</p>
                            </div>
                        </div>
                    </div>
                    <div class="faq-card">
                        <h6 class="faq-title">
                            <a class="collapsed" data-bs-toggle="collapse" href="#faqtwo" aria-expanded="false">What subjects are covered on EduConnect?</a>
                        </h6>
                        <div id="faqtwo" class="collapse">
                            <div class="faq-detail">
                                <p>EduConnect covers a wide range of subjects, from mathematics and science to language arts and programming. You can find tutors for almost any academic topic you need help with.</p>
                            </div>
                        </div>
                    </div>
                    <div class="faq-card">
                        <h6 class="faq-title">
                            <a class="collapsed" data-bs-toggle="collapse" href="#faqthree" aria-expanded="false">Is EduConnect suitable for all grade levels?</a>
                        </h6>
                        <div id="faqthree" class="collapse">
                            <div class="faq-detail">
                                <p>Yes, EduConnect caters to students of all grade levels. Whether you're in elementary school, high school, or college, you can find suitable tutors to assist you with your studies.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="faq-card">
                        <h6 class="faq-title">
                            <a class="collapsed" data-bs-toggle="collapse" href="#faqfour" aria-expanded="false">How do I contact a tutor on EduConnect?</a>
                        </h6>
                        <div id="faqfour" class="collapse">
                            <div class="faq-detail">
                                <p>To contact a tutor on EduConnect, log in to your account and browse the available tutors. Once you find a tutor you're interested in, click on their profile to view their contact information or use the messaging feature on the platform.</p>
                            </div>
                        </div>
                    </div>
                    <div class="faq-card">
                        <h6 class="faq-title">
                            <a class="collapsed" data-bs-toggle="collapse" href="#faqfive" aria-expanded="false">Are there any free tutoring options on EduConnect?</a>
                        </h6>
                        <div id="faqfive" class="collapse">
                            <div class="faq-detail">
                                <p>Yes, EduConnect offers free tutoring options. Some tutors may provide free introductory sessions, and there are also community forums where you can seek help from experienced users at no cost.</p>
                            </div>
                        </div>
                    </div>
                    <div class="faq-card">
                        <h6 class="faq-title">
                            <a class="collapsed" data-bs-toggle="collapse" href="#faqsix" aria-expanded="false">How can I update my payment information?</a>
                        </h6>
                        <div id="faqsix" class="collapse">
                            <div class="faq-detail">
                                <p>You can update your payment information on EduConnect by navigating to your account settings. Look for the "Payment Information" section, where you can add or edit your credit card details securely.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}